h1 {
    background-color: aquamarine;
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    background-color: aquamarine;
}

.my-header h2 {
    display: inline;
}

.my-header {
     text-align: center;
     background-color: white;
 }

.my-header span {
    float: right;
    font-weight: bold;
}

.date {
    padding: 10px;
    background-color: white;
}
